
.profile {
    /* outline: 1px dashed tomato; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 320px;
    margin-left: auto;
    margin-right: auto;

    background-color: #F4F4F4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.avatar {
    border-radius: 50%;
    border: 2px solid;
}

.name {
    font-size: 32px;
    font-weight: 500;
}

.tag,
.location {
    font-weight: 500;
    color: #5F6775;
}



.stats {
    /* outline: 1px dashed teal; */

    display: flex;
    justify-content: space-around;
    width: 100%;
  
    background-color: #eeebfa;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    /* padding: 20px; */
    padding-top: 16px;
    padding-bottom: 16px;

}

/* .stats li:not(:last-child) {
    border-right: 1px solid gray;
} */

.label {
    font-style: initial;
    color: #5F6775;
}

.quantity {
    font-weight: 500;
}

